/* taxi liên tỉnh giá tốt */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  margin-top: -27%;
}

.navbar-left {
  flex-grow: 1;
}

.navbar-right {
  display: flex;
  gap: 10px;
}

.navbar-on1 {
  position: relative;
  left: 57px;
  top: 73px;
  font-size: 15px;
  font-weight: bold;
}

/* code css màu menu thanh nav */

p {
  font-size: 28px;
  padding: 10px;
  text-align: left;
}

.call-for-ride {
  color: white;
}

.phone-number {
  color: orange;
  font-size: 28px;
}

.every1 {
  color: #101114;
}

.logoridekft {
  width: 206px;
}

.doctt1 {
  padding: 10px;
  text-align: left;
  font-size: 20px;
  color: white;
}

/* code css chữ taxi giá liên tỉnh */
.navbar-link-Help {
  position: absolute;
  left: 73%;
  color: #000;
  top: 1%;
}

.navbar-link-Support {
  position: absolute;
  left: 76%;
  color: #000;
  top: 1%;
}

.navbar-link-FAQ {
  position: absolute;
  left: 81%;
  color: #000;
  top: 1%;
}

/* youtube  iocon*/
.navbar-icon-tt {
  position: absolute;
  left: 86%;
  top: 1%;
}

/*  */
/* hình ins */
.navbar-icon-ins {
  position: absolute;
  left: 88%;
  top: 1%;
}

/*  */

.navbar-icon-link {
  position: absolute;
  left: 90%;
  top: 1%;
}

/* hình iconfb */
.navbar-icon-fb {
  position: absolute;
  left: 84%;
  top: 1%;
}

/*  */
.navbar-text01 {
  color: #898b8b;
  position: relative;
  left: 250px;
  font-size: 15px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-right: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  transform: skewX(10deg);
  width: 7%;
}

/* MỤC LOGO */
/* Container to hold logo and contact information */
.container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 6px;
}

/* Style for the logo */
.logo-container {
  flex-shrink: 0;
}

.logo-brand {
  width: 181px;
  height: 60px;
  /* Adjust as needed */
}

/* Contact information styling */
.contact-info {
  display: flex;
  gap: 20px;
  /* Space between contact items */
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item i {
  margin-right: 10px;
  /* Space between icon and text */
}

.text,
.text1,
.text02,
.text03 {
  font-size: 14px;
  /* Adjust as needed */
  line-height: 1.2;
  color: #000;
}

/* cpde css dòng chữ so 5267214 trên hàng logo  */
.text1 {
  left: -75px;
  position: relative;
  margin-top: 13px;
}

.text02 {
  left: -66px;
  position: relative;
  margin-top: 13px;
}

.text03 {
  left: -66px;
  position: relative;
  margin-top: 13px;
}

.contact-info {
  position: absolute;
  right: 13%;
  top: 35px;
  align-items: flex-start;
  margin-left: auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
}

/*  */
/* THANH NAV */
/* code css media query modal content */
/* code css tạo nút search thanh nav */
.modal {
  /* Position the modal in the center of the page */
  position: fixed;
  top: 8%;
  left: 0%;
  transform: translate(0%, -70%);
  /* Set the size of the modal */
  width: 136%;
  height: 80%;
  /* Add a z-index to ensure the modal is on top of other elements */
  z-index: 9999;
  /* Add a white background */
  background-color: #ffffff;
  /* Add some padding to the modal content */
  padding: 20px;
  /* Add a border and border-radius to the modal */
  border: 1px solid;
  border-radius: 5px;
  /* Add a box-shadow to the modal */
}

/* code css hộp thoại madal */
.modal-content {
  margin-top: 100%;
  margin-left: -70%;
}

/* Tạo css thanh Nav ngang Trang chủ, ... */
.navbar-yellow {
  left: 29%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9900;
  padding: 10px;
  width: 30%;
  position: relative;
  top: 43px;
  height: 87px;
}

/* kich co thanh nav trang chu... */
.navbar::before {
  content: '';
  /* Tạo một pseudo-element */
  position: absolute;
  /* Vị trí tuyệt đối */
  left: -3%;
  /* Điều chỉnh theo left của navbar */
  width: 101%;
  /* Chiều rộng 100% */
  height: 100%;
  /* Chiều cao 100% */
  background-color: inherit;
  /* Màu nền giống với navbar */
  clip-path: polygon(0 0, 100% 0, 500% 100%, 3% 160%);
  /* Áp dụng clip-path */
  z-index: -1;
  /* Đảm bảo pseudo-element hiển thị phía sau phần tử navbar */
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

/* thanh nav bỏ dấu dropdown */
.dropdown-toggle::after,
.dropdown-btn::after {
  display: none;
}

/* thanh nav chữ */
/* dấu ghạch chân thanh nav chữ */
/* chữ trên thanh nav màu cam */
.menu li a {
  right: 8px;
  top: 0px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-icon,
.menu-icon {
  width: 95px;
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
}

/* màu menu thanh NAV */
/*  */
/* code css tạo hiển thị menu trên thanh NAV trangchu........ */
div#offcanvasDarkNavbar {
  background-color: #000000;
  color: #f3ebeb;
  /* width: 500px; */
}

.text-bg-dark h5,
.text-bg-dark p,
.text-bg-dark a {
  color: #999;
  font-size: 17px;
}

/* nằm chèn mục liên hệ */
/* thanh cuộn nút Search */
.search-icon1 .icon-img-1 {
  float: left;
  margin: 2px;
  height: 70%;
  position: absolute;
  top: 27px;
  left: -382px;
}

/* nút tìm kiếm thanh nav  */
/* nut tìm kiếm thanh nav trang chu... */
/* thanh search tren thanh nav  */
.search-icon img,
.menu-icon img {
  max-width: 100%;
  filter: brightness(0) invert(1);
  color: white;
}

.menu-icons .btn-search {
  width: 41px;
  height: 50px;
  background-color: transparent;
  padding: 0;
  outline: 0;
  border: 0;
  position: absolute;
  right: 96px;
  top: 11px;
}

.menu-icons .btn-search:focus {
  box-shadow: none;
}

/* thanh menu */
/* Tạo thanh chọn trên thanh nav */
.navbar-dark .navbar-toggler {
  position: relative;
  right: 7px;
  top: -103px;
  border: none;
  background-color: transparent;
  align-items: center;
}

.navbar-dark .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* nút search  nut tim kiem*/
.collapse {
  /* display: none; */
  /* width: 200px; */
  /* Set the desired width */
  height: 500px;
  /* Set the desired height */
}

/* nút css menu trangchu... */
.navbar-toggler {
  float: right;
  margin: -127px;
  width: 130px;
  /* Set the desired width */
  height: 40px;
  /* Set the desired height */
}

/* nút trên thanh nav màu cam trang chu, lien he */
.dropdown-toggle.black-text,
.dropdown-menu .black-text {
  /* color: #666; */
  font-size: 15px;
  top: 5px;
  left: 6px;
  position: relative;
  color: #666;
  white-space: nowrap;
}

.mau1 {
  color: #000;
  background-color: #000;
}

/* code css tạo comtact  thanh NAV TRANGCHU...*/
.contact-nav {
  position: absolute;
  top: -15%;
  /* Adjust the distance from the top as needed */
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  transform: skewX(0deg);
  width: 19%;
  /* Adjust the width as needed */
  height: 87px;
  font-weight: bold;
}

/* nut css  chinh kich co  thanh nav menu trang chu... */
.navbar {
  transform: skewX(0deg);
  width: 45%;
  height: -8%;
  z-index: 999;
}

.navbar-brand img {
  width: 50px;
}

.navbar-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navbar-text img {
  width: 300px;
  height: auto;
  margin-right: 10px;
  right: -61%;
  position: absolute;
}

/*  */
.navbar-text p {
  margin: 0;
  color: #f4f5f8;
  display: inline-block;
  margin: 0;
  font-size: 20px;
  /* Thay đổi kích thước chữ theo ý muốn */
  white-space: nowrap;
  /* Ngăn chữ xuống dòng */
  overflow: hidden;
  /* Ẩn nội dung dư thừa */
  text-overflow: ellipsis;
  /* Hiển thị dấu chấm 3 chấm (...) khi chữ bị cắt ngang */
  position: relative;
  right: -100%;
  top: 60%;
}

.contact-info {
  /* margin-top: 10px;
        color: #f4f5f8;
        font-size: 20px;
         margin-left: 38%; 
       margin-top: -58px;  */
  position: absolute;
  right: 1px;
  top: 1px;
  align-items: flex-start;
  /* Căn chỉnh sang bên trái */
  margin-left: auto;
  /* Đẩy sang bên phải */
  padding: 20px;
  /* Thêm một chút khoảng cách xung quanh */
  /* background-color: #f9f9f9; */
  /* Màu nền */
  border-radius: 8px;
  /* Bo góc */
}

.content {
  margin-top: 80px;
  /* Đảm bảo nội dung không bị che phủ bởi thanh navbar */
}

/* code css độ dài thanh  nav tìm kiếm trangchu... */
/* thanh css nut menu trangchu...*/
.col-right-nav {
  display: flex;
  flex-direction: row;
}

.navbar-colright {
  height: 53px;
  width: 53px;
  color: #ff9900;
}

.nav.navbar.navbar-dark.bg-dark {
  width: 50px;
}

.container {
  position: relative;
}


/* CODE THE BOOK 1/2 */
.carousel-indicators li:after {
  content: "/2";
  font-size: 16px;
  color: #666666;
  font-family: "Space Grotesk", sans-serif;
}

.active {
  font-family: "Space Grotesk", sans-serif;
}

.carousel-caption h1 {
  font-weight: bold;
  left: 95%;
  right: -136px;
  margin-bottom: -7px;
  animation: slide-up 0.5s ease forwards;
  text-align: text;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-size: 52px;
  top: -319px;
}

.carousel-caption p {
  margin-left: 33%;
  z-index: 1;
  margin-top: -22%;
  font-size: 18px;
  animation: slide-up 0.5s ease 0.3s forwards;
  text-align: text;
  /* position: relative; */
  /* left: 48%; */
  color: white;
  font-family: "Space Grotesk", sans-serif;
  /* top: -483px; */
}

/* Travel securely with us THE BOOK */
.doct1 {
  position: relative;
  left: 20%;
  top: -15%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.carousel-caption .btn-view-more {
  font-size: 16px;
  animation: slide-up 0.5s ease 0.6s forwards;
}

.carousel-caption .img-car {
  position: absolute;
  width: 675px;
  height: auto;
  /* right: 100%; */
  top: -99px;

  opacity: 0;
  animation: drive-in 1s ease 0.9s forwards;
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes drive-in {
  from {
    transform: translate(100%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

/*  */
/* dùng thư viện di chuyển trang book you */
.carousel {
  /* width: 100px; */
  height: 566px;
  /* overflow: hidden; */
  /* Ẩn phần thừa */
}

.carousel-inner {
  height: 79%;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .carousel-caption {
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0%;
      transform: translateY(-83%);
      width: 70%;
      padding-left: 15px;
    } */

.carousel-caption h1 {
  margin-bottom: 20px;
  color: #faf1f1;
  text-align: start;
  font-size: 47px;
  position: absolute;
  left: 36%;
  margin-top: -139px;
}

.carousel-caption .img-car {
  left: 1148px;
  position: relative;
  bottom: 220px;
  width: 500px;
}

/* chữ h1*/
.carousel-caption {
  position: relative;
  bottom: 5.25rem;
  /* left: -150%; */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  font-size: 38px;
  white-space: nowrap;
  margin-top: -7%;
}

/* màu chữ ridek màu vnagf */
.ridek {
  color: #ff9900;
  /* Đặt màu vàng cho chữ RIDEK */
}

/*  */
/*dòng chữ book you taxi hình 1  */
.taxidoct10 {
  margin-top: 36px;
}

/* code css mục màu chữ about */
.chunhat0 {
  background-color: #ff9900;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%);
  background-image: repeating-linear-gradient(45deg, #f7a20f 0, #f7a20f 2px, transparent 0, transparent 50%);
  background-size: 8px 8px;
  width: 9%;
  height: 37px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  position: absolute;
  top: -589px;
  left: 8px;
  /* margin-top: -35px; */
}

.chunhat01 {
  position: relative;
  top: -613px;
  left: -853px;
  font-size: 17px;
}

/*  code css màu mục joney*/
.hotline01 {
  position: absolute;
  top: -352px;
  margin-left: 42%;
  background-color: #ff9900;
  padding: 10px;
  width: 822px;
  height: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-size: 10px 10px;
  z-index: 1;
  background-image: repeating-linear-gradient(45deg, #f7a20f 0, #f7a20f 2px, transparent 0, transparent 50%);
  background-size: 10px 10px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hotline02 {
  position: absolute;
  /* Định vị phần tử này */
  bottom: 0;
  /* Đặt phần tử ở dưới cùng của container */
  margin-left: 25%;
  /* Căn trái */
  background-color: #222;
  /* Màu nền đen */
  padding: 10px;
  /* Đệm nội dung */
  width: 100%;
  /* Chiều rộng 100% của container */
  height: 110px;
  /* Chiều cao cố định */
  overflow: hidden;
  /* Ẩn nội dung vượt quá */
  white-space: nowrap;
  /* Không xuống dòng */
  text-overflow: ellipsis;
  /* Hiện ba chấm (...) khi quá dài */
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  /* Hình dạng */
  top: -332px;
}


/*  */
/* thẻ chữ book you */
/* Khoảng cách Giua anh va chu VE CHUNG TOI */
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 30px; */
  /* Adjust the value as needed */
}

.form-group1 {
  margin-left: 40px;
  padding: 110px 40px;
  /* Adjust the value as needed */
  position: relative;
  background-color: #ff9900;
  background-image: repeating-linear-gradient(45deg, #f7a20f 0, #f7a20f 2px, transparent 0, transparent 50%);
  background-size: 10px 10px;
}

/* code css Ve chung toi */
/* nut tim kiem */
/* code css giới thiệu về chúng tôi */
/*  Code chi cột về chúng tôi*/
/* thẻ p về chúng tôi */
.pict1 {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 15px;
  color: rgb(102, 102, 102);
  font-family: "Space Grotesk", sans-serif;
  top: 44px;
  /* right: 55px; */
  /* right: -15%; */
  /* position: relative; */
  text-align: center;
  /* Căn giữa văn bản */
}

/*  */
.about1 {
  margin-left: 50px;
}

/* hiệu ứng ảnh về chúng tôi */
/* CSS */
.my-heading {
  color: rgb(222, 222, 226);
}

/* thanh nav trang chu menu ảnh logo */
/* giới thiệu về chững tôi  chữ màu cam*/
/*code màu chữ gioi thieu ve chung toi */
.section-heading {
  position: relative;
}

.section-heading h4 {
  font-weight: bold;
  font-size: 16px;
  /* position: relative; */
  color: #f90;
  /* padding-left: 50px; */
  display: flex;
  line-height: 16px;
  /* top: -358px; */
  /* right: 341%; */
  /* top: 18px; */
  /* left: 16%; */
  white-space: nowrap;
}

.section-heading h4 span,
.section-heading h4 span:before,
.section-heading h4 span::after {
  background-color: #f90;
  width: 5px;
  height: 16px;
  display: inline-block;
  position: absolute;
}

.section-heading h4 span {
  left: 32px;
  transform: skew(-20deg, 0deg);
}

.section-heading h4 span:after {
  content: "";
  left: -10px;
  opacity: 0.5;
}

.section-heading h4 span:before {
  content: "";
  left: -20px;
  opacity: 0.2;
}

/* code css khoảng cách mục about our company */
.section-online-vechungtoi {
  padding-bottom: 1px;
  /* margin-top: -27%; */
}

/* CHIA CỘT */
.container {
  display: flex;
  gap: 16px;
  /* Khoảng cách giữa các cột */
}

.col-8 {
  /* flex: 8; */
  /* background-color: #f0f0f0; */
  padding: 16px;
  text-align: center;
}

.col-4 {
  flex: 4;
  /* background-color: #d0d0d0; */
  padding: 16px;
  text-align: center;
}

/* bảng  col 4*/

/* styles.css */
/* Định dạng danh sách */
.list-group {
  list-style: none;
  padding: 0;
  position: relative;
    top: -35px;
    border-radius: 0; /* Đặt viền vuông góc */

}

.list-group-item {
  position: relative;
  /* top: 35px; */
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #eee;
  /* Màu lam */
  color: #222;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu */
}
/* code css nút bảng đen phía phải */

.btn-custom {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: black; /* Màu chữ ban đầu */
  background-color: #ff9900; /* Màu nền ban đầu */
  border: 2px solid 0; /* Viền màu cam */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, width 0.3s ease, height 0.3s ease;
  width: 180px;
  height: 44px;
  text-align: center;
  margin-left: -37%;
}

/* Hiệu ứng khi trỏ chuột vào */
.btn-custom:hover {
  background-color: #eee; /* Đổi màu nền sang cam */
  color: #000; /* Đổi màu chữ */
  width: 170px;  /* Tăng chiều rộng */
  height: 41px;  /* Tăng chiều cao */
}







/*  */
/* Đổi màu khi trỏ chuột vào */
.list-group-item:hover {
  background-color: #ff8c00;
  /* Màu cam */
}

/* bảng đen */
.sidebar {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 30px;
}

.sidebar {
  background-color: #222;
  background-image: url(../img/texture.png);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 3px;
  padding: 180px 28px;
  /* position: relative; */
  margin-left: -8%;
  width: 397px;
  /* margin-top: 331px; */
}

/* ảnh */
.logo1 {
  width: 10px;
  height: 10px;
  width: 234px;
  height: 78px;
  margin-top: -194px;
}

.h3 {
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 1px;
}

.feel1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  /* Màu chữ chính */
  margin-top: -30px;
  font-weight: bold;
}

/* Nhấn mạnh từ "Ridek!" */
.feel1 span {
  color: #ff8c00;
  /* Màu chữ nhấn mạnh */
  font-style: italic;
  /* Kiểu chữ in nghiêng */
  font-size: 43px;
  /* Tăng kích thước nhấn mạnh */
}

/* Hiệu ứng hover cho chữ nhấn mạnh */
.feel1 span:hover {
  color: #007bff;
  /* Đổi thành màu lam khi hover */
  text-decoration: underline;
  /* Gạch dưới khi hover */
}

.taxi1 {
  color: #fff;
  font-size: 13px;
}

/*  */
.today span {
  color: #ff9900;
  font-size: 50px;
}

.today {
  color: #fff;
  margin-bottom: 20px;
}

/* mau chữ tag */

.title {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  /* position: relative; */
  /* right: 81%; */
  margin-left: -68%;
  top: 1%;
  color: #000;
}

.offer1 h3 {
  font-weight: 600;
  color: #222;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  margin: 0;
  line-height: 1;
}

.offer1 {
  text-decoration: underline;
  text-decoration-color: orange;
  /* Màu gạch chân là cam */
}

/*  */
.offer1 {
font-weight: 600;
font-size: 23px;
position: relative;
top: 10px;
}

/*  */
/*table nút tags */

.list li a {
  background-color: #eee;
  display: inline-block;
  font-family: "Space Grotesk", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  color: #666;
  padding: 3px 14px;
  margin: 0 3px 10px 0;
}

.list li {
  display: inline-block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* margin-left: 78%; */
  position: relative;
  /* left: -15%; */
}

.list {
  display: flex;
  flex-wrap: wrap;
  /* Cho phép cắt xuống dòng */

}

.list li {
  flex: 1 1 calc(33.33% - 10px);
  /* Mỗi nút chiếm 1/3 chiều rộng */
  margin: 5px;
  /* Khoảng cách giữa các nút */
}

.button {
  display: block;
  padding: 10px;
  background-color: #f7a20f;
  /* Màu nền nút */
  color: white;
  /* Màu chữ */
  text-align: center;
  /* Căn giữa chữ */
  text-decoration: none;
  /* Bỏ gạch chân */
  border-radius: 5px;
  /* Bo góc nút */
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển màu */
}

.button:hover {
  background-color: #f7a20f;
  /* Màu nền khi hover */
}

/* nút màu tags  */
.list a:hover {
  background-color: #f7a20f;
  color: #fff;
  /* Màu chữ khi hover */
  cursor: pointer;
  /* Thay đổi con trỏ chuột thành hình bàn tay */
}

/* code css màu nền lam  */
.service-details {
  background-color: #F4F5F8;
  /* Màu nền lam đậm */
  padding: 20px;
  /* Khoảng cách bên trong */
  border-radius: 10px;
  /* Bo góc cho section */
  color: white;
  /* Màu chữ mặc định là trắng */
}

.sidebar-widget {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 30px;
  padding-top: 75px;
}

.category {
  font-weight: 600;
  color: #000;
  margin-left: -63%;
  position: relative;
  top: -52px;
  font-size: 23px;
  font-family: 'Space Grotesk', sans-serif;
}

.category {
  text-decoration: underline;
  text-decoration-color: orange;
}

/*  */
/* picture col 8 */
.image1 {
  border: none;
  outline: none;
  max-width: 100%;
}

/* thẻ chữ */

.Business {
  color: #000;
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 1%;
}

.find1 {
  font-size: 17px;
  color: #666;
}

.find2 {
  font-size: 17px;
  color: #666;
}

.find3 {
  font-size: 17px;
  color: #666;
}

/*  */
.service li i {
  font-size: 50px;
  color: #ff9900;
  position: relative;
  left: -44%;
  top: 39%;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 20px; */
  /* margin: 30px 0; */
}

.fast {
  color: #000;
  font-size: 20px;
  margin-left: -38%;
}

.Everything {
  color: #000;
  font-size: 15px;
  position: relative;
  right: -58px;

}

/*  */
.fast2 {
  color: #000;
  font-size: 20px;
  margin-left: -38%;
}

.Everything2 {
  color: #000;
  font-size: 15px;
  position: relative;
  right: -58px;

}

/*code css mục passentger */
.service-details-list1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-top: 30px;
}

.service-details-list1 img {
  height: 220px;
  margin: 0;
}

/* thẻ chữ h3 */
.Passenger {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.7;
  color: #222;
  letter-spacing: -0.5px;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: -32%;
}

/* thẻ chữ p */
.needs {
  color: #000;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 15px;
}

.service-icon-list2 li i {
  font-size: 20px;
  color: #ff9900;
}

.service-icon-list2 li {
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #666;
}

.service-icon-list2 li:not(:last-of-type) {
  margin-bottom: 10px;
}

/* footer */
.background-image {
  background-color: #1c1c1c;
  background-image: url('https://html.dynamiclayers.net/dl/ridek/assets/img/city-skiline.png');
  background-size: 100%;
  background-position: 200%;
  background-repeat: no-repeat;
}

/*  */
/* code css độ hẹp heght dòng chữ footer */
/* Media query cho màn hình nhỏ (điện thoại) */
/*  */
.logo {
  flex: 0 0 auto;
}

/* Lớp che phủ */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  float: left;
  width: 200px;
  height: auto;
  position: absolute;
  top: 40px;
  /* left: 85%; */
}

.content {
  flex: 1;
}

.contact-info,
.subscribe {
  margin-top: 20px;
}

.contact-info p {
  margin: 5px 0;
  color: #f0e6e6;
}

.subscribe input {
  width: 200px;
  /* Kích cỡ ô đăng ký */
}

.subscribe button {
  padding: 5px 10px;
}

/* dòng chữ trắng p */

.description {
  position: relative;
  top: 25px;
  left: 522px;
  color: #ccc;
  font-family: "Space Grotesk", sans-serif;
  top: -53px;
  left: 256px;
  font-size: 18px;
}

/* nút màu cam  nút dịch vụ nỗi bật*/
button {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* cắt path slide */
/* thanh nav footer hotline */
.hotline {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: #ff9900;
  padding: 10px;
  width: 700px;
  /* Đặt chiều rộng mong muốn */
  height: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
  /* tạo thanh nav có đường viền */
  background-image: repeating-linear-gradient(45deg, #f7a20f 0, #f7a20f 2px, transparent 0, transparent 50%);
  background-size: 10px 10px;
  z-index: 1;
}

/* chữ css foter  */
.hotline-text0 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 22%;
  font-size: 16px;
  /* Kích cỡ chữ */
  font-weight: 500;
  line-height: 1;
  color: #fafafa;
  margin-bottom: 5px;

}

.hotline-text1 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 45%;
  left: 22%;
  /* Kích cỡ chữ */
  font-weight: 700;
  line-height: 1;
  font-family: 'Space Grotesk', sans-serif;
}

/*  */
.hotline-image {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 350%;
}

/* code css tạo ảnh anmwf bên trái chữ hotline footer */
.hotline {
  overflow: auto;
  /* Cần thiết để đảm bảo phần tử cha bao quanh cả hình ảnh và văn bản */
}

.hotline-image {
  float: left;
  width: 80px;
  margin-right: 10px;
  /* Điều chỉnh khoảng cách giữa hình ảnh và văn bản */
  position: absolute;
  top: 14%;
  left: 90px;
}

/*  */
.copyright-wrap {
  background-color: #1c1c1c;
  padding: 3px 0;
  text-align: center;
}

/* code css tạo hàng chữ địa chỉ, mở cửa, liên kết */
.contact-label,
.opening-label,
.links-label {
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
}

.contact-info,
.opening-info,
.links-info {
  margin: -20px;
}

/*Địa chỉ footer  */
.contact-info {
  color: #ffffff;
  /* Màu trắng cho toàn bộ đoạn text */
  font-size: 16px;
  font-weight: normal;
}

.address-label {
  color: #ff9900;
  /* Màu cam cho "Địa chỉ:" */
  font-weight: bold;
  font-size: 14px;
}

/*  */
/* head office footer */
.address-label-111 {
  color: white;
  font-weight: bold;
  display: inline-block;
  /* Để tạo kích thước theo nội dung */
  position: relative;
  /* Để tạo vị trí tương đối cho gạch chân */
  padding-bottom: 5px;
  /* Khoảng cách từ chữ đến gạch chân */
}

.address-label-111::after {
  content: "";
  /* Tạo nội dung rỗng */
  position: absolute;
  /* Đặt gạch chân tuyệt đối so với .contact-label */
  left: 0;
  /* Căn trái */
  bottom: 0;
  /* Căn dưới */
  width: 57%;
  /* Chiều rộng bằng 100% của .contact-label */
  height: 3px;
  /* Chiều cao gạch chân */
  background-color: #ff6b00;
  /* Màu cam */
}

/*  */
.row-footer {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  position: relative;
  top: -53px;
}

.address-text {
  /* Không cần định nghĩa thêm, sẽ kế thừa màu trắng từ .contact-info */
  font-size: 17px;
}

/*  */
/* code css ghạch chân liên hệ footer */
.contact-label {
  color: #333333;
  /* Màu chữ xám */
  font-size: 18px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Độ đậm chữ */
  display: inline-block;
  /* Để tạo kích thước theo nội dung */
  position: relative;
  /* Để tạo vị trí tương đối cho gạch chân */
  padding-bottom: 5px;
  /* Khoảng cách từ chữ đến gạch chân */
}

.contact-label::after {
  content: "";
  /* Tạo nội dung rỗng */
  position: absolute;
  /* Đặt gạch chân tuyệt đối so với .contact-label */
  left: 0;
  /* Căn trái */
  bottom: 0;
  /* Căn dưới */
  width: 57%;
  /* Chiều rộng bằng 100% của .contact-label */
  height: 3px;
  /* Chiều cao gạch chân */
  background-color: #ff6b00;
  /* Màu cam */
}

/* code css tạo ghạch chân  mở cửa*/
.opening-label {
  color: #333333;
  /* Màu chữ xám */
  font-size: 18px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Độ đậm chữ */
  display: inline-block;
  /* Để tạo kích thước theo nội dung */
  position: relative;
  /* Để tạo vị trí tương đối cho gạch chân */
  padding-bottom: 5px;
  /* Khoảng cách từ chữ đến gạch chân */
}

.opening-label::after {
  content: "";
  /* Tạo nội dung rỗng */
  position: absolute;
  /* Đặt gạch chân tuyệt đối so với .contact-label */
  left: 0;
  /* Căn trái */
  bottom: 0;
  /* Căn dưới */
  width: 57%;
  /* Chiều rộng bằng 100% của .contact-label */
  height: 3px;
  /* Chiều cao gạch chân */
  background-color: #ff6b00;
  /* Màu cam */
}

/* code ghạch chân footer  liên kết */
.links-label {
  color: #333333;
  /* Màu chữ xám */
  font-size: 18px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Độ đậm chữ */
  display: inline-block;
  /* Để tạo kích thước theo nội dung */
  position: relative;
  /* Để tạo vị trí tương đối cho gạch chân */
  padding-bottom: 5px;
  /* Khoảng cách từ chữ đến gạch chân */
}

.links-label::after {
  content: "";
  /* Tạo nội dung rỗng */
  position: absolute;
  /* Đặt gạch chân tuyệt đối so với .contact-label */
  left: 0;
  /* Căn trái */
  bottom: 0;
  /* Căn dưới */
  width: 57%;
  /* Chiều rộng bằng 100% của .contact-label */
  height: 3px;
  /* Chiều cao gạch chân */
  background-color: #ff6b00;
  /* Màu cam */
}

.links-info {
  margin-bottom: 5px;
}

/* nut dang ky footer */
.subscribe button {
  padding: 5px 10px;
  background-color: #ff9900;
  color: #222;
  border: none;
  cursor: pointer;
  width: 173px;
  height: 50px;
  top: 65%;
  left: 5%;
  position: absolute;
  font-weight: 600;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);
}

/*  */
.sidebar {
  /* Your sidebar styles here */
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -63px;
  padding-bottom: 83px;
}

.row-tintuc1 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -59px;
  justify-content: center;
  gap: 26px;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.contact-label,
.opening-label,
.links-label,
.contact-info,
.opening-info,
.links-info {
  color: white;
}

.contact-label,
.opening-label,
.links-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-info,
.opening-info,
.links-info {
  margin: -20px;
}

/* màu chữ 123web footer */
.footer-text {
  top: 5px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
  left: 37%;
}

footer {
  position: relative;
  height: 100px;
}

/* code css tạo chuyển động xe ô tô */
.icon-car {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 83%;
  z-index: 2;
}

.icon-car img {
  width: 6%;
  height: auto;
  object-fit: contain;
}

.icon-car .car1 {
  animation: carAnimation 2s linear infinite;
}

@keyframes carAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.icon-car .car2 {
  animation: carAnimation2 2s linear infinite;
}

@keyframes carAnimation2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.icon-car .car3 {
  animation: carAnimation3 2s linear infinite;
}

@keyframes carAnimation3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* cỡ chữ footer 123thietkeweb */

.image-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

img.image-car1 {
  left: 0%;
  position: relative;
  width: 300px;

}

.image-car2-container {
  display: flex;
}

img.image-car2 {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  position: relative;
  top: 84px;
  position: relative;
  right: -58px;
}

.ceo {
  border-radius: 100%;
  width: 14%;
}

.datxebutton {
  left: 94%;
  width: 353px;
  top: 37%;
  position: absolute;
}

/* footer  chữ liên hệ email */
.contact-info1 {
  display: block;
  align-items: center;
  position: relative;
  color: #ccc;
  margin-bottom: -23px;
}


.subscribe input[type="email"] {
  padding: 5px;
  width: 300px;
  height: 50px;
  margin-right: 5px;
  /* clip-path: polygon(0 0, 75% 0, 100% 100%,  0  100%); */
  clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
}

/* nut dang ky footer */
.subscribe button {
  padding: 5px 10px;
  background-color: #ff9900;
  color: #222;
  border: none;
  cursor: pointer;
  width: 173px;
  height: 50px;
  top: 65%;
  left: 6%;
  position: absolute;
  font-weight: 600;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);
}

/*  code css footer độ hẹp dòng chữ height*/
p {
  font-size: 17px;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
}

/*  */
/* trang cuộn xuống */
/* CODE TẠO THANH CUỘN XUỐNG */

.scroll-navbar {
  height: 80px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-navbar .container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.scroll-navbar .navbar-brand img {
  height: 40px;
}

.side-navbar {
  height: 80px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  margin-top: -70px;
}

.side-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-navbar li {
  margin-right: 20px;
}

.side-navbar a {
  color: #666;
  text-decoration: none;
}

.logo000 {
  position: absolute;
  left: 190px;
  top: 10px;
  width: 10px;
}

.logo01 {
  width: 188px;
  margin-left: -538px;
  margin-top: -50px;
}

.side-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: white;
  color: black;
}

.side-navbar {
  display: none;
  position: fixed;
  width: 100%;
  height: 15%;
  z-index: 2;
  margin-top: -30%;
}

.side-navbar.show {
  display: block;
}

/*  */
.side-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.side-navbar li {
  margin-right: 20px;
}

.side-navbar a {
  position: relative;
  top: 19px;
  color: #222;
  font-weight: 500;
}

/* mục liện hệ  THANH CUỘN*/
.contact-nav111 {
  position: absolute;
  top: 51%;
  /* Adjust the distance from the top as needed */
  left: 79%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  transform: skewX(0deg);
  padding: 12px 30px;
}

/*  */
/* ẩn dòng heft */
/* Ẩn dòng trên màn hình nhỏ */
/*  */
/* cpde css thanh cuộn tranhc chính */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav.menu {
  flex: 1;
}

.scroll-menu {
  display: flex;
  /* overflow-x: auto; Tạo thanh cuộn ngang nếu cần */
  white-space: nowrap;
  /* Đảm bảo các liên kết nằm trên một dòng */
  padding: 10px 0;
  /* background-color: white; */
  margin-left: 623px;
  /* margin-top: -152px; */
}

.scroll-menu a {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  margin-top: -76px;
}

.scroll-menu a:hover {
  background-color: #ddd;
  border-radius: 5px;
  color: #000;
}

.logo-0 {
  overflow: auto;
  /* Cho phép thanh cuộn xuất hiện nếu cần */
  max-height: 200px;
  /* Đặt chiều cao tối đa cho phần tử */
  width: 110px;
  /* Chiều rộng của thanh cuộn dọc */
  height: 50px;
  /* Chiều cao của thanh cuộn ngang */
  margin-top: 73px;
  position: relative;
  left: 290px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

main {
  padding-top: -80px;
  /* Đảm bảo nội dung không bị che khuất bởi header */
}

/* Header ẩn khi cuộn lên và hiện khi cuộn xuống */
.header-hidden {
  top: -80px;
  /* Ẩn header khi cuộn lên */

}

/*  */
/* code css nút search trên thanh cuộn */
.btn {
  position: relative;
  right: -147px;
}

/*  */

.icon-imgsearch {
  color: black;
  background-color: white;
}

.icon-imgsearch {
  width: 80px;
  /* Kích thước width của icon */
  height: 50px;
  /* Kích thước height của icon */
  margin-top: -113px;
}


/* code css nút 3 ghạch thanh cuộn */

.custom-icon {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: black;
  position: relative;
  top: -146%;
  left: 159%;
}

.custom-icon::before,
.custom-icon::after {
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.custom-icon::before {
  top: -8px;
}

.custom-icon::after {
  top: 8px;
}

.custom-toggler {
  border: none;
  background-color: transparent;
}

/*  */

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-top: 3px;
  margin-right: -23px;
}

/* cde css nút tìm kiếm trên thanh nav */

.search-icon img,
.menu-icon img {
  max-width: 100%;
  filter: brightness(0) invert(1);
  color: white;
}

/*  */
/* thanh cuộn */
.navbar-nav {
  flex-direction: column;
  /* Xếp dọc các mục menu */
  margin-left: 0;
  /* Không có khoảng cách bên trái */
  /* width: 100%; Đặt chiều rộng 100% cho navbar */
  */
}

/* code css dau 3 ghach */
/* Định dạng chung cho biểu tượng hamburger */
.navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  /* Kích thước chiều ngang của biểu tượng */
  height: 25px;
  /* Kích thước chiều cao */
}

/* dau 3 ghachj */
.bar {
  display: block;
  height: 4px;
  /* Chiều cao của mỗi thanh gạch */
  background-color: #666;
  /* Màu của thanh gạch */
  transition: all 0.3s ease;
}

/*  */
/* code css media nút 3 ghạch dấu nhân */
.navbar-toggler.collapsed .bar1 {
  transform: rotate(0deg);
  width: 23px;
}

.navbar-toggler.collapsed .bar2 {
  opacity: 1;
}

.navbar-toggler.collapsed .bar3 {
  transform: rotate(0deg);
}

.navbar-toggler:not(.collapsed) .bar1 {
  transform: rotate(45deg) translate(0px, 14px);
  position: relative;
  right: -21px;
  width: 45px;
}

.navbar-toggler:not(.collapsed) .bar2 {
  display: none;
}

.navbar-toggler:not(.collapsed) .bar3 {
  transform: rotate(-45deg) translate(-11px, -29px);
  position: relative;
  left: 40px;
  top: 3px;
  width: 47px;
}

/*  */
/* code css media nút 3 ghạch dấu nhân */
.navbar-toggler.collapsed .bar1 {
  transform: rotate(0deg);
  width: 23px;
}

.navbar-toggler.collapsed .bar2 {
  opacity: 1;
}

.navbar-toggler.collapsed .bar3 {
  transform: rotate(0deg);
}

.navbar-toggler:not(.collapsed) .bar1 {
  transform: rotate(45deg) translate(0px, 14px);
  position: relative;
  right: -21px;
  width: 45px;
}

.navbar-toggler:not(.collapsed) .bar2 {
  display: none;
}

.navbar-toggler:not(.collapsed) .bar3 {
  transform: rotate(-45deg) translate(-11px, -29px);
  position: relative;
  left: 40px;
  top: 3px;
  width: 47px;
}

/*  */
/*tạo bảng dấu nhân chéo  */

/* CSS cho navbar */
/ .navbar {
  position: absolute;
  top: 0;
  left: 350px;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: -40px;
}

/* nút trên bảng */
.navbar-toggler {
  float: right;
  margin: -3px;
  width: 99px;
  height: 56px;
  color: #f4f4f4;
  margin-top: 96px;
}

.navbar-nav {
  flex-direction: column;
  text-align: center;
}

.nav-item {
  margin: 5px 0;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-brand {
  display: none;
}

.hotline-image1 {
  left: -49px;
  top: 106px;
  /* Điều chỉnh vị trí lên hoặc xuống */
  font-size: 40px;
  /* Giảm kích thước biểu tượng cho di động */
}

.navbar-left {
  display: block;
  /* Ẩn navbar-left khi màn hình nhỏ */
}

.navbar-right {
  display: block;
  /* Ẩn navbar-right khi màn hình nhỏ */
}

/* code  */

/* code css tạo bảng thanh dấu nhân chéo*/
.menu-table {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid black;
}

.menu-item {
  border-bottom: 1px solid black;
}

.menu-item:last-child {
  border-bottom: none;
}

.nav-link {
  display: block;
  padding: 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: black;

  .navbar-nav .nav-link {
    padding-right: 100px;
    padding-left: 0;
    font-weight: bold;
  }

}

/* code css media query */
/* Media Query để ẩn header-top trên màn hình nhỏ */
@media (max-width: 768px) {
  .header-top {
    display: none;
    /* Ẩn phần tử */
  }

  .contact-info {
    display: none;
    /* Ẩn phần tử contact-info */
  }

  .nav-menu {
    display: none;
    /* Ẩn nav-menu */
  }

  .container {
    flex-direction: column;
    gap: 8px;
    /* Giảm khoảng cách giữa các phần tử */
  }

  .service-details-list1,
  .service-features {
    grid-template-columns: 1fr;
  }

  /*code css mục icon đồng hồ ô tô  */
  .service {
    grid-template-columns: 1fr;
  }

  .service li {
    grid-template-columns: 1fr;
  }

  .description {
    top: 0;
    /* Đặt vị trí top về 0 */
    left: 20px;
    /* Di chuyển sang trái */
    font-size: 16px;
    /* Giảm kích thước font */
  }

  .footer-text {
    left: 5%;
    /* Di chuyển sang trái nhiều hơn */

  }

  .sidebar-widget {
    margin-left: -44px;
    /* padding: 20px; */
    width: 488%;
  }

  .hotline01 {
    /* top: 30%; */
    margin-top: 96%;
    width: 61%;
    right: -41%;
  }

  .hotline02 {
    margin-top: 283px;
    /* top: 41%; */
    left: 19%;
  }

  .carousel-caption h1 {
    top: -138%;
    left: 41%;
    font-size: 36px;
    margin-bottom: 10px;
  }

  .taxidoct10 {
    position: absolute;
    top: -225%;
    left: 50%;
  }

  .image1 {
    max-width: 198%;
    margin-left: -37px;
    display: block;
    /* Đảm bảo hình ảnh là khối */
  }

  .Business {
    font-size: 18px;
    /* Giảm kích thước chữ */
    margin-top: 6%;
    /* Tăng khoảng cách từ trên xuống */
    font-family: 'Space Grotesk', sans-serif;
    margin-left: -23%;
    white-space: nowrap;
  }

  .find1,
  .find2 {
    font-size: 18px;
    /* Giảm kích thước chữ cho màn hình nhỏ */
    padding: 15px;
    /* Tăng padding */
    margin-right: -57%;
  }

  .container {
    /* flex-direction: column; Đặt hướng thành cột */
    align-items: left;
    /* Căn giữa các phần tử */
    /* padding: 20px; Tăng padding cho không gian */
  }

  .find3 {
    font-size: 15px;
    /* Giảm kích thước chữ cho màn hình nhỏ */
    color: #444;
    /* Thay đổi màu chữ để dễ đọc hơn */
    margin-right: -57%;
  }

  /* ft */
  .background-image {
    background-position: bottom;
    height: 967px;
  }

  .hotline {
    position: relative;
    top: 267px;
    right: auto;
    width: 100%;
    height: 86px;
    white-space: normal;
    text-overflow: clip;
    clip-path: none;
    background-image: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .hotline-text1 {
    font-size: 20px;
    top: 47%;
    left: 48%;
  }

  .hotline-text0 {
    font-size: 18px;
    top: 47%;
    left: 18%;
    white-space: normal;
    width: 90%;
  }

  .hotline-image {
    float: none;
    position: relative;
    top: 1px;
    width: 57px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: -17px;
    left: -168px;
  }

  .description {
    left: -4px;
    margin-top: 113px;
    position: relative;
    top: -152px;
  }

  .row-footer {
    flex-direction: column;
    /* Đặt hướng các phần tử thành cột */
    margin: 0;
    /* Đặt lại margin */
    top: -78px;
    /* Điều chỉnh vị trí lên một chút */
  }





  .links-label {
    margin-right: 10px;
    white-space: nowrap;
    position: relative;
    top: -21px;
    left: -10px;
  }

  #emailInput,
  #subscribeBtn {
    width: 80%;
    margin-top: 23px;
  }

  #emailInput {
    flex: 1;
    min-width: 327px;
    position: relative;
    top: -31px;
    left: -2px;
  }

  #subscribeBtn {
    margin-left: 10px;
    position: relative;
    top: -40px;
    width: 69%;
    margin-left: -23px;
    font-size: 16px;
  }

  .footer-text {
    display: block;
    /* margin-top: 15px; */
    font-size: 16px;
    /* top: -46px; */
    position: relative;
  }

  .icon-car img {
    margin: 0 10px;
    /* max-width: 80%; */
    width: 78px;
    margin-top: 121px;
  }

  /* thanh dau cheo */
  .navbar-toggler .navbar-toggler-icon {
    background: none;
  }

  /* CODE DAU CHEO */

  .header-top {
    display: none;
  }

  .contact-info {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .img-car001 {
    display: none;
    /* Ẩn phần tử */
  }

  .section-map {
    width: 100%;
    /* Đặt chiều rộng về 100% */
    height: auto;
    /* Đặt chiều cao tự động để phù hợp với nội dung */
    padding: 16px 0;
    /* Thay đổi padding nếu cần */
    /* Bạn có thể thêm các thuộc tính khác nếu cần */
    position: relative;
    top: 85px;
  }

  .section-heading090 h4 {
    padding-left: 82px;
    top: -65px;
    font-size: 14px;
    /* Thay đổi kích thước chữ nếu cần */
  }

  .section-heading090 h4 span {
    left: 20px;
    /* Giảm giá trị left để dịch qua trái */
    /* Bạn có thể thêm các thuộc tính khác nếu cần */
  }

  .description {
    left: 20px;
    /* Giảm giá trị left để dịch qua trái */
    top: -161px;
    /* Bạn có thể điều chỉnh giá trị top nếu cần */
    font-size: 16px;
    /* Thay đổi kích thước chữ nếu cần */
  }

  .container.cart-service .card {
    flex: 1 1 100%;
    /* Mỗi thẻ sẽ chiếm toàn bộ chiều rộng */
    margin-bottom: 10px;
    /* Khoảng cách giữa các thẻ */
  }

  .hotline01 {
    width: 231px;
    top: 103px;
    right: -63px;
  }

  .hotline02 {
    margin-top: 153%;
    right: -17%;
  }

  .carousel-caption h1 {
    left: 41%;
    margin-top: -5%;
    font-size: 36px;
  }

  .carousel-caption p {
    top: -69px;
    margin-left: -15%;
  }

  .chunhat01 {
    top: -486px;
    left: -141px;
    position: relative;
  }

  .chunhat0 {
    width: 173px;
    top: -447px;
    position: relative;
    left: -142px;
  }

  .ridek1 {
    margin-right: 28%;
    font-size: 17px;
    top: 3px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .section-map h1 {
    transform: translate(6%);
    font-size: 25px;
    position: relative;
    top: -8px;
  }

  .section-map button {
    position: relative;
    top: -11px;
    transform: translate(-138%);
    letter-spacing: -1px;
  }

  .check-list i {
    top: 3px;
    position: relative;
    left: 1px;
  }

  .easy1 {
    right: -4px;
    top: 1px;
  }

  .container.cart-service {
    margin-top: -61%;
  }

  .section-heading090 h4 span {
    left: 119px;
  }

  .section-heading090 h4 {
    padding-left: 156px;
  }

  .background-image {
    padding-bottom: 60px;
  }

  .background-image {
    background-position: bottom;
    /* height: 967px; */
  }

  .hotline {
    margin-right: 2px;
    margin-top: -11px;
    width: 100%;
  }

  .hotline-text1 {
    font-size: 20px;
    top: 47%;
    left: 59%;
  }

  .logo-image {
    top: -16px;
    right: 85px;
    width: 65%;
  }

  .links-label {
    margin-right: 10px;
    white-space: nowrap;
    position: relative;
    top: -18px;
    left: -10px;
  }

  #emailInput,
  #subscribeBtn {
    width: 40%;
    margin-top: 23px;
  }

  #emailInput {
    flex: 1;
    min-width: 327px;
    position: relative;
    top: -41px;
    left: -2px;
  }

  .icon-car {
    top: 96%;
  }

  .icon-car img {
    margin: 0 10px;
    /* max-width: 80%; */
    width: 78px;
  }

  .copyright-wrap {
    padding: 1px 0;
    /* height: 40px; */
  }

  .footer-text {
    display: block;
    /* margin-top: 15px; */
    font-size: 16px;
    /* top: -46px; */
    position: relative;
  }

  #subscribeBtn {
    margin-left: 10px;
    position: relative;
    top: -64px;
    margin-left: -9px;
    font-size: 16px;
  }

  .navbar-toggler .navbar-toggler-icon {
    background: none;
  }

  .navbar-toggler {
    display: block;
    margin-top: 61px;
    /* left: 277px; */
    position: absolute;
  }

  .links-label {
    margin-right: 10px;
    white-space: nowrap;
    position: relative;
    top: -18px;
    left: -10px;
  }

  /* mục footer */
  #emailInput {
    flex: 1;
    min-width: 327px;
    position: relative;
    top: -41px;
    left: -2px;
  }

  #emailInput,
  #subscribeBtn {
    width: 80%;
    margin-top: 23px;
  }

  #subscribeBtn {
    margin-left: 10px;
    position: relative;
    top: -64px;
    width: 69%;
    margin-left: -22px;
    font-size: 16px;
  }

  .icon-car {
    top: 96%;
    /* Đưa phần tử xuống dưới hơn */
  }

  .icon-car img {
    margin: 0 10px;
    /* max-width: 80%; */
    width: 78px;
  }

  .footer-text {
    display: block;
    /* margin-top: 15px; */
    font-size: 16px;
    /* top: -46px; */
    position: relative;
  }

  .copyright-wrap {
    padding: 1px 0;
    /* Giảm padding để giảm chiều cao */
    /* Hoặc bạn có thể thiết lập chiều cao cụ thể */
    /* height: 40px; */
  }

  /* code css media DẤU CHÉO MENU */
  .navbar-nav {
    background-color: white;
    position: relative;
    width: 413px;
    right: 311px;
    top: 78px;
  }


  /* COPDE CSS MEDIA DẤU CHÉO  */
  /* code css media feel you */

  .icon-wrapper {
    margin-top: -18px;
    /* Giảm khoảng cách trên cho màn hình nhỏ */
    /* gap: 5px; Giảm khoảng cách giữa các biểu tượng */
  }

  /* dich vu noi bat */
  .second-line {
    /* position: relative; */
    /* left: 788px; Đặt lại vị trí bên trái về 0 */
    margin-left: 65px;
    top: 10px;
    /* Đặt lại vị trí phía trên về 0 */
    font-size: 14px;
    /* Giảm kích thước chữ cho màn hình nhỏ */
    white-space: nowrap;
    color: #ddd;
    white-space: inherit;
  }

  .navbar {
    position: absolute;
    top: 21px;
    left: 312px;
    right: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -16px;
    width: 23%;
    height: 78px;
  }

  .logo-brand {
    max-width: 39%;
    margin-top: -39px;
  }

  /* dấu nhân */
  .navbar-toggler {
    /* position: relative;
    top: 46px; */
    display: block;
    margin-top: -15px;
    /* left: 48px; */
    position: absolute;

    .collapse {
      position: absolute;
    }

    /* position: relative;
      right: -338px;
      top: 100px; */
  }

  .navbar-toggler .navbar-toggler-icon {
    background: none;
  }
  .bar1 {
    width: 41px;
    transform: rotate(45deg) translate(0, 10px);
  }

  .bar2 {
    width: 38px;
    display: block;
    margin-top: 3px;

  }

  .bar3 {
    width: 29px;
    position: relative;
    right: -12px;
    transform: rotate(-45deg) translate(4px, -16px);
    margin-top: 3px;
  }

  .logo-brand {
    max-width: 80%;
    /* Tăng kích thước cho logo trên màn hình nhỏ */
    margin-top: -43px;
  }

  .logo-0 {
    display: none;
    /* Hide the logo */
  }

  .navbar-nav {
    justify-content: flex-end;
  }

  .logo01 {
    display: none;
    margin-left: -293%;
    top: 28px;
    position: relative;
  }

  .nav-item.dropdown {
    display: block;
    /* Ẩn dropdown trên màn hình lớn */
  }

  .contact-nav111 {
    display: none;
    /* Ẩn phần tử */
  }
}

/* ảnh bìa */
@media (max-width: 767px) {
  .carousel-item img {
    height: 559px;
  }
}

/*code css mục icon đồng hồ ô tô  */
/* Media Query cho màn hình nhỏ */
/* ft */
/* Media Query cho màn hình nhỏ */
/*  */
@media (max-width: 600px) {
  .logo-image {
    float: none;
    position: absolute;
    width: 250px;
    left: 69px;
    top: -16px;
    display: block;
    margin: 20px auto;
  }
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 559px;
  }
}

/* ft */
@media only screen and (max-width: 425px) {
  .container {
    padding: 26px;
    width: 100%;
    right: -14px;
    position: relative;
    /* top: -16px; */
  }
}
.row-footer {
  display: flex;
      flex-wrap: wrap;
      margin: -10px;
      position: relative;
      top: -53px;
}


/* code css nút làm ẩn hiện thị nút contact */
/* Ẩn phần tử trên màn hình lớn hơn 768px */
@media (min-width: 768px) {
  .nav-item {
      display: none; /* Ẩn phần tử */
  }
}

/* Hiển thị phần tử trên màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .nav-link {
      display: block; /* Hiển thị phần tử */
      margin-top: -11px;
  }

 
  /*  */
}







/* thanh nav màu cam  tự hiển thị bảng*/
/* Ẩn dropdown menu mặc định */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff; /* Màu nền của bảng */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 5px;
  z-index: 1000;
  margin-left: -13%;
}

/* Khi trỏ chuột vào .dropdown, hiển thị dropdown-menu */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Định dạng menu chính */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Hiển thị menu ngang */
}

.menu > li {
  position: relative; /* Để dropdown-menu có vị trí tuyệt đối so với menu cha */
  margin-right: 15px;
}

.menu a {
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  color: #333; /* Màu chữ */
}

.menu a:hover {
  background-color: #ff9900; /* Màu nền khi hover */
  color: white; /* Màu chữ khi hover */
}

/* Dropdown menu item */
.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  color: #333;
  padding: 8px 56px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #e9ecef;
  color: #000;
}


@media (max-width: 768px) {
  .row-footer {
      flex-direction: column; /* Đặt các phần tử theo chiều dọc */
      top: -150px; /* Điều chỉnh vị trí */
      margin: -5px; /* Giảm khoảng cách */
  }
}

















/*  */
.button-label1{
  position: relative;
left: -56px;
font-weight: 500;
font-family: 'Space Grotesk', sans-serif;
font-size: 17px;
}


.button-label2{
  position: relative;
left: -67px;
font-weight: 500;
font-family: 'Space Grotesk', sans-serif;
font-size: 17px;
}
.button-label3{
  position: relative;
left: -74px;
font-weight: 500;
font-family: 'Space Grotesk', sans-serif;
font-size: 17px;
}
.button-label4{
  position: relative;
left: -67px;
font-weight: 500;
font-family: 'Space Grotesk', sans-serif;
font-size: 17px;
}

.button-label5{
  position: relative;
left: -60px;
font-weight: 500;
font-family: 'Space Grotesk', sans-serif;
font-size: 17px;
}

/*  */
.hinhicon2 {
  font-size: 36px;
  color: #ff9900;
  position: relative;
  top: 1px;
  left: 67px;
  z-index: 999;
}
.hinhicon3 {
  font-size: 36px;
  color: #ff9900;
  position: relative;
  top: 1px;
  left: 84px;
  z-index: 999;
}
.hinhicon4 {
  font-size: 36px;
  color:#ff9900;
  position: relative;
  top: 1px;
  left: 95px;
  z-index: 999;
}
.hinhicon5 {
  font-size: 36px;
  color: #ff9900;
  position: relative;
  top: 1px;
  left: 92px;
  z-index: 999;
}
.hinhicon6 {
  font-size: 36px;
  color: #ff9900;
  position: relative;
  top: 1px;
  left: 83px;
  z-index: 999;
}



.service-sidebar ul li i,
.hinhicon2,
.hinhicon3,
.hinhicon4,
.hinhicon5,
.hinhicon6 {
   font-size: 20px; 
   color: #ff9900; 
}